/* *{outline: 1px solid #f00;} */

.Wrap{}

.container { display: flex; width: 1200px; margin: 0 auto; }

/* {header */
.header { position: absolute; inset: 0 auto auto 50%; transform: translateX(-50%); 
  line-height: 100px; }

.header .gnb>* { flex: 1; }

.header .gnb>ul { display: flex; gap: 40px; color: #fff;}

.header .gnb h1 { text-align: center;}

.header .gnb .right { justify-content: flex-end; }

.header .gnb li { font-size: 21px; font-weight: 700;}

.header .gnb li a { display: block;}
/* header} */


/* {main_visual */
.main_visual{ height: 1120px;}

.main_visual .main_slide { position: absolute; inset: 50% auto auto 50%; z-index: 999;
  transform: translate(-50%, -50%); width: 1200px; height: 600px; }

.main_visual .main_slide img { margin: 0 auto; width: 473px; height: 496px;}

.main_visual .main_slogan .top{ position: absolute; inset:35% auto auto 50%; 
  transform: translateX(-50%); width: 1350px; font-size: 125px; font-weight: 900; 
  color: #fff; animation: toLeft 5s infinite;}

.main_visual .main_slogan .bottom{ position: absolute; inset:auto auto 35% 50%; 
  transform: translateX(-50%); width: 1280px; font-size: 125px; font-weight: 900; 
  color: #f27999; animation: toRight 5s infinite;}

@keyframes toLeft{ 0%{ inset:35% auto auto 50%; } 50%{ inset:35% auto auto 48%; }
  100%{ inset:35% auto auto 50%; } }

@keyframes toRight{ 0%{ inset:auto auto 35% 50%; } 50%{ inset:auto auto 35% 55%; }
  100%{ inset:auto auto 35% 50%; } }

.main_visual .scroll{ position:absolute; display:flex; flex-direction: column; inset: auto auto 220px 50% ;
  transform: translateX(-50%); color: #f27999; font-size: 36px; }

.main_visual .scroll>i:nth-child(1) { position:absolute; inset: 0 auto auto 0 ;}
.main_visual .scroll>i:nth-child(2) { position:absolute; inset: 10px auto auto 0 ;}

.main_visual .scroll{animation: scroll01 1s infinite;}

@keyframes scroll01 { to {bottom:210px }}

.main_visual .sub_slide {position: absolute; inset: auto auto -250px 50%; 
transform: translate(-50%, -50%); width: 100%; height: 290px;}
/* main_visual} */


/* {menu */
.menu {padding: 100px 0;}

.menu .container {justify-content: space-between; margin-bottom: 65px;}

.menu .title h2 {font-size: 26px; font-weight: 300;}

.menu .title h2::after { content: ""; display: inline-block; margin: 0 0 10px 25px; width: 320px; height: 1px; background: #f27999;}

.menu ul{display: flex;}

.menu ul>li {padding-left:30px; text-align: center; ;}
.menu ul>li>a {display:block; width: 150px; height: 35px; border-radius: 17.5px; line-height: 35px; background: transparent; border: 1px solid #bfb9b4; color: #bfb9b4; font-size: 16px; font-weight: 300;}

.menu ul>li.on>a {background: #f27999; color: #fff; border: none; } 

.menu .menu_content {position: relative; display: flex; width: 1200px; margin: 0 auto; height: 460px;}

.menu .menu_content .l_arrow {position: relative; width: 9%;}

.menu .menu_content .l_arrow>i {position: absolute; left:0px; bottom: 0; padding: 7px; background: #f27999;; border-radius: 5px; font-size: 25px; color: #fff; cursor: pointer;}

.menu .menu_content .l_arrow>i:last-child {left:50px}

.menu .menu_content .menu_slide {position: absolute; bottom: 0; right: 0; width: 91%; height: 100%}

.menu .menu_content img{position:absolute; z-index: 999; bottom: 60px; width: 301px; height: 393px; margin-left: 60px;}

.menu .menu_content .cake img{position:absolute; z-index: 999; bottom: 80px; width: 340px; height: 393px; margin-left: 40px;}

.menu .menu_content .bev img{position:absolute; z-index: 999; bottom: 80px; width: 340px; height: 393px; margin-left: 40px;}

.menu .menu_content figure {padding-top: 60px;} /*슬라이드에는 overflow hidden이 존재하므로*/

.menu .menu_slide .product {position: relative;}

.menu .menu_slide .background {margin-left: 60px; width: 300px; height: 400px; border-radius: 40px 40px 0 40px;}

.menu .icecream .first {background: #fcd289;}
.menu .icecream .second {background: #bbcb5d;}
.menu .icecream .third {background: #85584e;}
.menu .icecream .fourth {background: #ddd7aa;}

.menu .cake .first {background: #cccc99;}
.menu .cake .second {background: #ffcccc;}
.menu .cake .third {background: #85584e;}
.menu .cake .fourth {background: #ffcc66;}

.menu .bev .first {background: #fcd289;}
.menu .bev .second {background: #fab594;}
.menu .bev .third {background: #cc9966;}
.menu .bev .fourth {background: #f8dfa2;}

.menu .menu_slide h2 {position:absolute; bottom: 60px; left:100px; font-size: 24px; font-weight: 500; color: #fff;}
.menu .menu_slide p {position:absolute; bottom: 35px; left:100px; font-size: 16px; font-weight: 300; color: #fff;}

.menu .menu_slide {visibility:hidden;}

.menu .menu_slide.on {visibility:visible;}
/* menu} */

/* {flavor */
.flavor {position: relative; padding: 100px 0;}

.flavor h2 {position: absolute; font-size: 26px; font-weight: 300; z-index: 999;}

.flavor h2::after { content: ""; display: inline-block; margin: 0 0 10px 25px; width: 205px; height: 1px; background: #f27999;}

.flavor .content {position: relative;}
.flavor .content .flavor {position: absolute; inset: 9% auto auto 36.5%;}


.flavor .content .flower {position: absolute; inset: auto 0% 20px auto; animation: flower 2s infinite;}

.flavor .content:hover .flavor {animation: flavor 1s infinite;} 

@keyframes flavor{ 0%{transform: rotateX(-10deg);} 50%{transform: rotateX(0deg);} 100%{transform: rotateX(10deg);}}

@keyframes flower { 0%{inset:  auto 0% 20px auto;} 50%{inset:  auto 10px 20px auto;} 100%{inset:  auto 0% 20px auto;}}
.flavor .content p { position: absolute;  display: flex; align-items: center; text-align: center; justify-content: center; font-size: 19px; font-weight: 300; width: 152px; height: 152px; border-radius: 50%; background: #fff;}

.flavor .content p:hover {animation: bubble 2s; }

@keyframes bubble { 0%{transform: scale(1);} 50%{transform: scale(0.9);} 100%{transform: scale(1);}} 

.flavor .content .first { inset: 250px auto auto 350px;}
.flavor .content .second { inset: auto auto 300px 350px;}
.flavor .content .third { inset: 150px 350px auto auto;}
.flavor .content .fourth { inset: auto 350px 390px auto;}

.flavor .content .first_line { position: absolute; inset: 320px auto auto 470px; }
.flavor .content .second_line { position: absolute; inset: auto auto 370px 470px; }
.flavor .content .third_line { position: absolute; inset: 150px 470px auto auto; }
.flavor .content .fourth_line { position: absolute; inset: auto 480px 300px auto; }

.flavor .content strong {position: absolute; inset: auto auto 150px 50%; transform: translateX(-50%); font-size: 24px; font-weight: 400; color: #fff;}
/* flavor} */

/* {sns */
.sns {padding: 100px 0;}

.sns .container {width: 1200px; margin: 0 auto;}

.sns h2 {font-size: 26px; font-weight: 300; margin-bottom: 60px;}

.sns h2::after { content: ""; display: inline-block; margin: 0 0 10px 25px; width: 338px; height: 1px; background: #f27999;}

.sns .sns_slide .border {width: 380px; height: 600px; border: 1px solid #f27999; border-radius: 20px; padding: 22px 22px 0px 22px;}

.sns .title{position: relative;}

.sns .t_arrow>i {position: absolute; right:0px; top: 0; padding: 7px; background: #f27999;; border-radius: 5px; font-size: 25px; color: #fff; cursor: pointer;}

.sns .t_arrow>i:first-child {right: 50px}

.sns_slide .slick-slide {margin: 0 15px}

.sns_slide .slick-list {margin: 0 -15px}

.sns_slide figure i {font-size: 25px; color: #f27999; margin: 15px 10px 10px 0;}

.sns_slide figure p {font-size: 16px; font-weight: 300;}
/* sns} */

/* {footer */
.footer { width:100%; height: 478px; background: url(../img/footer_bg.jpg); padding: 100px 0; color: #fff;
text-align: center;}

.footer h1 {margin-bottom: 40px;}
.footer address {font-style: normal; font-size: 15px; font-weight: 300; margin-bottom: 10px;}
.footer .info {display:flex; justify-content: center; margin-bottom: 30px;}
.footer .info a {font-style: normal; font-size: 15px; font-weight: 300; margin-right: 18px;}
.footer .info p {font-style: normal; font-size: 15px; font-weight: 300;}
.footer .icon {margin-bottom:30px}
.footer .icon i {font-size: 35px; margin-right: 15px;}
.footer .icon .last_icon {margin-right: 0;}
.footer>p {font-style: normal; font-size: 15px; font-weight: 300;}
/* footer} */